<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD09RvQ5S1hP8dRRPK-0a84CwMcbJCCV3I</string>
	<key>GCM_SENDER_ID</key>
	<string>535458969560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stevenapk.AiBuddy</string>
	<key>PROJECT_ID</key>
	<string>aibuddy-bfaf3</string>
	<key>STORAGE_BUCKET</key>
	<string>aibuddy-bfaf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:535458969560:ios:9b6058a57b1f525caae4ad</string>
</dict>
</plist>
